<div id="app">
  <h1>
    Backbone should be displayed here
  </h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <p>An instance of the reservation Input View should go here</p>
</script>

<script type="html/template" id="SearchViewTemplate">
  <input type="text"/>
  <input type="text"/>
</script>

<script type="html/template" id="FlightListViewTemplate">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</script>

<script type="html/template" id="SeatingPlanViewTemplate">
  // Grid
</script>

<!-- app.flights.fetch() -->
