<div id="app">
  <h1>
    Backbone should be displayed here
  </h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <p>An instance of the reservation Input View should go here</p>
</script>

<script type="html/template" id="SearchViewTemplate">

  <input type="text" id="origin" placeholder="From" />
  <input type="text" id="destination" placeholder="To" />
  <button>Search</button>

</script>

<script type="html/template" id="FlightListViewTemplate">
  <ul id="flights">

  </ul>
</script>
